.addTripBtn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 256px;
	height: 256px;

	background-color: #e1e1e1;

	transition: opacity 0.2s ease;

	&:hover,
	&:focus {
		opacity: 0.6;
	}
}

.addTripBtnIcon {
	fill: currentColor;
}

.addTripBtnText {
	font-weight: 700;
	font-size: 22px;
}
